version: 2
updates:
  - package-ecosystem: "bun"
    directory: "/"
    commit-message:
      prefix: "chore"
    open-pull-requests-limit: 10
    schedule:
      interval: "daily"
    labels:
      - "dependencies"
      - "automerge"
