name: Node.js Package
on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - "*"

jobs:
  publish:
    permissions:
      packages: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Setup .npmrc file to publish to GitHub Packages
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: "https://npm.pkg.github.com"
      # Publish to GitHub Packages
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: bun run build
      - run: bun publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
